{% extends "base.html" %}
{% load static %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}"/>
{%  endblock %}

{% block title %}
    The Post Title
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>
        <article>
            <img src="{% static "images/mountains.jpg" %}" alt="Post Title"/>
            <address>By Gordon</address>
            <div>
                Last Updated on <time>July 10th</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis fringilla turpis, vitae blandit nulla blandit eu. Praesent ut sem maximus, vehicula augue id, varius justo. Morbi molestie ipsum et enim ornare, eu blandit libero condimentum. Suspendisse non ligula vel lorem fringilla cursus. Fusce tincidunt vel tellus at porttitor
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis fringilla turpis, vitae blandit nulla blandit eu. Praesent ut sem maximus, vehicula augue id, varius justo. Morbi molestie ipsum et enim ornare, eu blandit libero condimentum. Suspendisse non ligula vel lorem fringilla cursus. Fusce tincidunt vel tellus at porttitor
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis fringilla turpis, vitae blandit nulla blandit eu. Praesent ut sem maximus, vehicula augue id, varius justo. Morbi molestie ipsum et enim ornare, eu blandit libero condimentum. Suspendisse non ligula vel lorem fringilla cursus. Fusce tincidunt vel tellus at porttitor
        </p>
    </main>
{% endblock %}