{% extends "base.html" %}
{% load static %}

{% block css_styles %}
	<link rel="stylesheet" href="{% static "blog/stored-posts.css" %}">
{% endblock %}
{% block title %}
    My Stored Posts
{% endblock %}

{% block content %}
    <section id="stored-posts">
        {% if not has_posts %}
            <p>You do not have any stored posts.</p>
        {% else %}
            <ul>
                {% for post in stored_post %}
                <li>
                    <a href="{% url "post_detail" post.slug %}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}